* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body {
	background-color: #f7f5ef;
	display: flex;
	flex-direction: column;
	gap:50px;

	

}
body.ocultar{
	overflow: hidden;
}

 @font-face{
	font-family: "Work Sans";
	src: url("../fuente/GoogleFonts-WorkSans-Regular.ttf");
} 
@font-face{
	font-family: "Poppins";
	src: url("../Fuente/Poppins-Medium.ttf");
} 



.cabecera {
	display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
	font-family: 'Work Sans', Helvetica, sans-serif;

}

.hamburguesa {
	display: none;
	color: #999;


}
.hamburguesa{
	cursor: pointer;
}

.izq {
	display: flex;
	gap: 15px;
    align-items: center;
    justify-content: center;
}

.parte1{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	height: 90%;
	font-size: 30px;
	text-align: center;
}


div h1{
	color: #B92326;
	font-size: 32px;
}

.cortitu{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;

}
.titulo{
	display: flex;
flex-direction: column;
}
.cajacorazon{
	display: flex;
	justify-content: flex-end;
	cursor: pointer;

}
.boton{
	width: 40%;
	background-color: #B92326;
	padding: 15px;
	color: white;
	border-radius: 5px;
	
}
.boton:hover{
	cursor:pointer;
	background-color: #c74f52;
}
.parrafosilo{
	color: #999;
}

.parte1 div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
	gap: 20px;
}

.parte2{
	display: flex;
	
	align-items: center;
	max-width: 90vw;
	margin: auto;
	padding: 110px;
}


.img3{
	border-radius: 5px;	
	width: 100%;
	height: 100%;
}

.plantilla{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	gap: 10px;
}


.parte2{
	display: flex;
	
	align-items: center;
	justify-content: center;
	gap: 100px;
}


.img3{
	display: block;
    overflow: hidden;
    box-shadow: 0px 1px 6px rgb(0 0 0 / 20%);
    border-radius: 4px;
    transition: transform ease all 3s;
	box-shadow: ease all 3s;
	border-radius: 4px;
}

 .img3:hover {
	cursor: pointer;
	color: aliceblue;
  background-color: rgb(153, 153, 153);
}




/* abrevia responsive */
section .parte1 h1{
	width: 550px;
	font-size:clamp(1vw,4vw,6vw);
}

section .parte1 p{

	
}

header .puñetero .menu{
	display: flex;
}



.cuadro-busqueda{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px; 
	display: flex;
	flex-direction: column;
	height: 100vh;
	clip-path: circle(0% at 100% 0%);
	pointer-events: none;
	transition: all 1s ease;
	
}

.cuadro-busqueda.mostrar{
	pointer-events: auto;
	clip-path: circle(200% at 100% 0%);
	
}



.cuadro-busqueda .arriba{
	background-color: #b80f15;
	flex: 1 1 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.cuadro-busqueda .abajo{
	background-color: #fff;
	flex: 1 1 50%;
}
.btn-cierre{
	position: absolute;
	top: 16px;
	right: 16px;
	color: #fff;
	font-size: 2rem;
	text-decoration: none;

	clip-path: circle(150% at 0% 0%);
	transition: all 1s ease;
}
	



.cuadro-busqueda .arriba .texto-busqueda{
	font-size: 7vw;
	background-color: transparent;
	padding: 10px;
	border-bottom: 4px solid #c74f52;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	color: antiquewhite;

}

.cuadro-busqueda .arriba .texto-busqueda::placeholder{
	color:#b3b3b3;
}

.cuadro-busqueda .arriba .texto-busqueda:focus-visible{
	outline:none;
}

.abajo{
	display: flex;
	justify-content: center;
	
}
.grupofiltrado{
	display: flex;
	width: 70%;
	height: 100%;
	margin: auto;
	
}

.filtrar1{
	flex: 1 1 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10px;
		
}
.filtrar1 h1{
	font-size: 30px;
	color: #b3b3b3;
	
}
.conjuntodiseño{
	display: flex;
	flex-direction: column;
	gap:10px;
	font-size: 14px;
}
.grafico{
	background-color: #f39c15;
	font-family: 'Work Sans', Helvetica, sans-serif;
    color: white;
    width: 100px;
	padding: 2px 10px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
	border-radius: 5px;
}


.web{
	background-color: #34b297;
	font-family: 'Work Sans', Helvetica, sans-serif;
	color: white;
    width: 100px;
	padding: 2px 10px;
    font-size: 14px;
    border-radius: 4px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
	border-radius: 5px;

}
.word{
	background-color: #3996D3;
	font-family: 'Work Sans', Helvetica, sans-serif;
    color: white;
    width: 100px;
    padding: 2px 10px;
    font-size: 14px;
    border-radius: 4px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
	border-radius: 5px;
	


}

.filtrar2{
	flex: 1 1 50%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 10px;
  } 
  .etiquetas{
	display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
}
	
  .filtrar2 h1{
	font-size: 30px;
	color: #b3b3b3;
  }

 

  
.eticonjunto{
	
	display: flex;
	gap:10px;
	
}
.tags{
	width: 85px;
    border-radius: 5px;
    color: #b3b3b3;
    border: 1px solid #d8d8d8;
	font-size: 14px;
    display: flex;
    align-items: center;
    padding: 2px;
	}
.tags:hover{
	cursor: pointer;
	background-color: grey;
}





@media (max-width: 1000px) {
	header .hamburguesa {
		display: inline-flex;

	}

	header .puñetero .menu {
		position: absolute;
		width: 100vw;
		height: 90vh;

		bottom: 0px;
		left: 0px;

		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		background-color: #fff;
		clip-path: circle(0% at 0% 0%);
		transition:  all 1s ease;

		

	}
	

	header .izq {
		display: flex;
		flex-direction: column;

	}

	section{
		font-size: 10px;
		
	}

	.parte1{
		width: 100%;
	}

	
	.parte2{
		flex-direction: column;
	}
	
}




header .menu.mostrar{

	clip-path: circle(150% at 0% 0%);
}


a {
	text-decoration: none;

}

.header .imagen{
		width: 100%;
		height: 50px;
	}

.Temas {
	color: #B92326;
	height: 40px;
    border-radius: 10px;
    display: flex;
    width: 170px;
    align-items: center;
    border: 2px solid;
    justify-content: center;
}

.Soporte {
	color: #999;

}

.Blog {
	color: #999;

}

.ES {
	color: #999;

}

.EN {
	color: #999;

}

.Idioma {
	gap: 15px;
    display: flex;
    width: 145px;
    border: 2px solid #999;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    border-radius: 10px;

}



 

.menu {
	font-family: "Poppins";

}

.lupa {
	color: #999;
	cursor: pointer;


}

.puñetero {
	display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;


}

.switch-content{
	position: relative;
	height: 40px;
	width: 140px;
}
.checkbox{
	position: absolute;
	opacity: 0;	

}

.soluna{
	width: 30px;
	height: 30px;
}

.checkbox:checked + .label .ball{
	transform: translate(60px);
	background-color: gray;
	

}
body.dark{
	background-color: #111111;
}
.label{
	height: 70px;
	background-color: brown;
	padding: 20px;
	display: flex;
	gap: 40px;
	border-radius: 90px;
	display: flex;
	position: relative;
}
.label img{
	height: 30px;
}

.ball{
	position: absolute;
	top: 10px;
	
	
	width: 50px;
	height:50px;
	border-radius:50%;

	background-color: rgb(0, 255, 13);
	transition: all 1s ease-in-out;
	
}

a.Temas:hover {
	background-color: #B92326;
	color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}

a.Soporte:hover {
	background-color: #B92326;
	color: #f4f4f4;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}



a.Blog:hover {
	background-color: #B92326;
	color: #f4f4f4;
	background-color: #B92326;
	color: #f4f4f4;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}


.englobap1yp2{
	background-color: #fff;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
body.dark .englobap1yp2{
	background-color: #111111;
}

.principal1{
	display: flex;
	width: 90vw;
	margin: auto;
	gap: 44px;
	font-family: 'Work Sans', Helvetica, sans-serif;
	max-width: 90vw;
	flex-wrap: wrap;
  }



.articulos{
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: center;
	padding: 15px;
}  

.articuloestilo{
	display: flex;
	flex-direction: column;
	max-width: 65%;
	gap:10px;
}

.guiabasica{
	font-size: 18px;
	display: flex;
	flex-direction: column;
	max-width: 31%;
	gap: 10px;
}

.principios{
	font-size: 18px;
	font-family: 'Work Sans', Helvetica, sans-serif;
}
.textoblog{
	font-size: 30px;
	font-family: 'Work Sans', Helvetica, sans-serif;
}
.etiquetas{
	display: flex;

    gap: 20px;
	font-size: 18px;
}
.tags2{
	width: 100px;
    background-color: #d8d8d8;
    border: 1px solid #999;
    color: #ffffff;
		padding: 2px 10px;
    font-size: 14px;
    border-radius: 4px;
		font-family: 'Work Sans', Helvetica, sans-serif;
}
.tags2:hover{
	cursor: pointer;
	background-color: #f39c15;
}
body.dark .tags2{
	background-color:#f39c15;

}
body.dark .tags2:hover{
	cursor: pointer;
	background-color: grey;

}
.intro{
	display: flex;
	align-content: flex-end;
	align-items: center;
	font-size: 18px;
	
  }
.tarjetaprincipal2{
	display: flex;
    width: 90vw;
    margin: auto;
    gap: 10px;
	
	font-family: 'Work Sans', Helvetica, sans-serif;
	max-width: 90vw;
	flex-wrap: wrap;
	
}
.imgarticle{
	width: 100%;
}

body.dark h1,
body.dark p{
	color: white;
}

footer{
	display: flex;
	background-color: #B92326;
	padding: 100px 50px;
	gap: 20px;	
}



.articulofooter {
	color: #fff;
	font-family: 'Work Sans', Helvetica, sans-serif;
	
	display: flex;
	flex-direction: column;
	
	width: 50%;
	gap: 20px;
  }
  .articulofooter h1{
	font-size: 1.2em;
}
  
  

  .conjuntoiconosinfo{
	display: flex;
	flex-direction: column;
	flex: 1 1 80%;
	gap: 63px;
}
  
  .iconitos{
	display: flex;
	gap:20px;
	
  }

  .icono{
	width: 25px;
  }
.infotags{
	flex: 1 1 20%;
	color: #fff;
	font-family: 'Work Sans', Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap:10px;
}
.infotags h1{
	font-size: 1.2em;
}

.infotags ul{
	text-align: end;
	list-style: none;
	gap:10px;
	
}
.titulocorporativo{
	    color: #fff;
		font-family: 'Work Sans', Helvetica, sans-serif;
		font-size: 14px;
}

@media (max-width:800px){
	.englobap1yp2{
		flex-direction: column;
		
	}
	.principal1{
		flex-direction: column;
	}
	.tarjetaprincipal2{
		flex-direction: column;
	}

	footer{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		margin-left: -15px;
		margin-right: -15px;

	}
}
