*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}


body{
	
	height:100vh;
}
div.carpetas{
	display: flex;
	justify-content: center;
	width: 100%;
	height:100%;
	background-color: beige;
	flex-direction: column;
	align-items: center;
	gap: 20px;

}

.cajafantasma{
	width: 401px;
	display: flex;
	align-items: center;
	gap: 10px;
}
.cfantasmita{
  width: 179px;
  height: 86px;
  display: flex;
  background-color: pink;
}

p.fantasma{
	font-family: sans-serif;
	font-size: 15px;

}

.cajanorman{
	display: flex;
	align-items: center;
	gap: 10px;

}
.cproyectoN{
  width: 179px;
  height: 86px;
  display: flex;
  background-color: pink;

}
p.donald{
	font-family: sans-serif;
	font-size: 15px;


}
