

*{
    margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body{
	display: flex;
	justify-content: flex-end;
	
	
}

.menutodo{
	background-color: #343353;
	width: 13vw;
	position: fixed;
	left: 0px;
	right: 0;
}

.menu{
	
flex-direction: column;
height: 100vh;
width: 13vw;
display: flex;
padding: 30px;
	
}

.menu h1{
	
	font-size: 15px;
	color: white;
}

.animation{
	display: flex;
	gap: 5px;
}

.animation p{
	color: white;
	font-size: 15px;
}
.recutext{
	
	animation-name: flipInX; /* referring directly to the animation's @keyframe declaration */
  	animation-duration: 2s; /* don't forget to set a duration! */
	animation-iteration-count:infinite;
		

	 
}

.cliente{
	width: 200px;
    padding: 40px;
  }
  

.conjunto{
	display: flex;
	flex-direction: column;
	width: 87vw;
	background-color: #343353;
	height: 100vh;
}
	
.conjunto section{
	padding: 50px 187px;
}
	
.user{
	width: 80px;
}

.tituloicono{
display: flex;
gap: 7px;
padding: 13px;
align-items: center;
}

.iconito{
	width: 24px;
}

.layer{
	position:relative;
}
#linea{
	bottom: 367px;
	right: 274px;
}

#curva{
	top: 211px;

}
#triangulo{
	left: 433px;
	bottom: 307px;
}


#lila{
	right: 434px;
}


.portada{
	
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
gap: 85px;
height: 100vh;
position: relative;

}
.portada h1 {
	color: white;
	font-size: 23px;
}
.portada h2{
	color: white;
	font-size: 20px;
}
.redessociales{
	display: flex;
	gap: 20px;

}
.icono{
	width: 30px;
	height: 30px;
}
.boton {
	text-align: center;
    border-radius: 50px;
    background-color: #FA4D61;
    font-size: 24px;
    color: white;
    padding: 15px;
	
}

/*los hovers por algun motivo no funcionan*/
.boton:hover {
	cursor: pointer;
    background-color: pink;
}

.flechaabajo{
	width: 30px;
	height: 30px;
	position: absolute;
	cursor: pointer;
	bottom: 0px;
	color: white;
}


.boton1{
	padding: 30px;
}
.boton1:hover{
	cursor: pointer;
    background-color: pink;
}

.tituloimagenbocadillo{
	display: flex;
	align-items: center;
	gap: 37px;
}

.tituloimagenbocadillo h1 {
	font-size: 30px;
}

	

.tituloimagen h1{
	font-size: 18px;
}
.sombra{
	
	border-radius: 10px;
	display: flex;
	align-items: center;
	box-shadow: inset 0 -1em 1em rgba(0,0,0,0.1), 0 0 0 1px rgb(255,255,255), 0.3em 0.1em 1em rgba(0,0,0,0.3);

}
.bocadillo{
	display: flex;
	align-items: center;
	padding: 77px;

}
.textoboton2{
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.textoboton2 h1{

	font-size: 20px;

}
.textoboton2 .boton1{
	
	background-color:#FE4C62 ;
	font-size: 15px;
	width: 180px;
	border-radius: 10px;
	padding: 10px;

}

.user2{
	width: 148px;
}

.aboutme{
	
	background-color: white;
	display: flex;
	flex-direction: column;
	
	gap: 20px;
}


.titulosvisitas{
	display: flex;
	justify-content: space-evenly;
	gap: 15px;
	padding: 25px;
}

.tituloporc{
	display: flex;
	justify-content: space-between;
	gap: 15px;
	
}
.titulobarras{
	display: flex;
	flex-direction: column;
	padding: 20px;
	gap: 10px;
}
.titulobarras h1{
	font-size: 15px;
}
.progress{
	width: 200px;
	position: relative;
	background-color: grey;
	height: 20px;
}
.progressbar {
	
	position: absolute;
	width: 0%;
	height: 100%;
	top:0;
	left:0;
	border-radius: 0 12px 12px 0;
	transition: all 0.5s ease-in-out;
	
}
.progress:hover > .progressbar{
	width: 60%;

}
.a{
	background-color: #FED05D;

}
.b{
	background-color: #FE4C62;

}
.c{
	background-color: #706CE3;

}



/*progress::-moz-progress-bar { background:#FE4C62; }//
progress::-moz-progress-bar { background: #706CE3; }*/

.conjuntoiconotexto{
	
	display: flex;
	gap: 15px;
		
	  
}

.textonumero{
	display: flex;
	flex-direction: column;
	
}

.textonumero h1{
	font-size: 35px;
}
.iconos3{
	width: 40px;
	height: 40px;
}


.services{
	background-color: white;
	padding: 110px;
}

.titulo{
	font-size: 15px;
	padding: 32px;
	
}
.cajaservices{
	display: flex;
    align-items: center;
    padding: 30px;
	gap: 20px;
}

#ui{
	background-color: #706CE3;

}
#ui h1{
	color: white;
}
#ui p{
	color: white;
}
#deve{
	
	background-color: #FED05D;

}
#ph{
	background-color: #FE4C62;

}
#ph h1{
	color: white;
}
#ph p{
	color: white;
}

.caja1{
	gap: 10px;
	border-radius: 30px;
    padding: 40px;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.customjob{
	font-size: 10px;
	text-align: center;
}



.e{
	width: 20px;
	height: 20px;
}
.m{
	width: 20px;
	height: 20px;
}
.experience{
	width: 100%;
	background-color: white;
	
}
.tituloe{
	font-size: 30px;
    padding: 30px;
}

.conjuntoexperience{
	display: flex;
    gap: 41px;
    padding: 62px
}

.exp1{
	display: flex;
    flex-direction: column;
	gap: 15px;
	padding: 30px;
	font-size: 10px;
}
.exp1 h1{
	font-size: 24px;
}

.iconofecha{
	display: flex;
	gap:10px;
}

.cajaexp1{
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: 20px;

}
.cajaexp2{
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: 20px;

}

.recentworks{
	display: flex;
	background-color: white;
	flex-direction: column;
	width: 100%;
	gap: 10px;
  
}

.recentworks h1{
	font-size: 30px;
}


.pestañastodo{
	display: flex;
	font-size: 20px;
	gap: 17px;
	cursor: pointer;
}
.imagenesworks{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}
.tarjeta{
	position: relative;
	width: calc(100%/3 - 20px);
}
.w1{

	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	width: 30%;
	height: 30%;
	border-radius: 20px;
}
.vol1{
	
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	
	
}
.vol1 img{
	width: 100%;
    height: 100%;
}


.croja{
	width: 101px;
	height: 28px;
	border-radius: 20px;
	background-color: #FA4D61;
	position: absolute;
	top: 0px;
	
	
}

.overlay1{
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	top: 0;
	opacity: 0;
	background-color: rgba(108, 227, 181, 0.533);
	justify-content: center;
	border-radius: 20px;
  }


.overlay1 h1{
	font-size: 20px;
	position: relative;
	left: 20px;
}
.overlay1:hover{
	transition: all 1s ease;
	opacity: 1;
}
.vol1 .imagenestarjeta{
	
	width: 10%;
	height: 100%;
	position: relative;
	top: 50px;
	left: 25px;
	
}
.texto1{
	display: flex;
	flex-direction: column;
}

.pricingplans{
	display: flex;
	flex-direction: column;
	background-color: white;
	width: 100%;
	gap: 40px;
  
	
}
.pricingplans h1{
	font-size: 30px;
}
.preciosconjunto{
	display: flex;
	align-items: center;
	padding: 20px;
	gap: 20px;
}
.precionumero{
	display: flex;
	gap:10px;

}
.precio1{
	display: flex;
	flex-direction: column;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 30px;
	padding: 20px;
	align-items: center;
	gap:5px;
}

.premiumm{
	background-color: #706CE3;
    color: white;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    right: 80px;
    bottom: 20px;
}

.premiumm h1{
	
	writing-mode: vertical-lr;
	transform: rotate(180deg);
	font-size: 15px;
}

.imgprice{
	width: 100px;
}
.getstarted{
	background-color: #FE4C62; 
	border-radius: 20px;
	padding: 10px;
	color: white;
}
.getstarted:hover{
	cursor: pointer;
	background-color: pink;
}
.clientsreviews{
	background-color: white;
	display: flex;
    flex-direction: column;
}

.clientsall{
	display: flex;
	flex-direction: column;
	gap:20px;
}
.textclients{
	
	padding: 50px;
}
.conjuntoimgtext{
	display:flex;
	padding: 15px;
	flex-direction: column;
	align-items: center;
	gap: 20px;

}

.secundaria{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: pink;
    gap: 40px;
    padding: 15px;
    
}
.derecha{
    transform:translateX(0px);
    transition: all 1s ease;

}
.izquierda{
    transform:translateX(-250px);
    transition: all 1s ease;
}
.capamascara{
    background-color: violet;
    width: 250px;
    overflow-x: hidden;  
    
}
.users{
    display: flex;
    
    width: 500px;
}
    
.user1{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
  
.user2{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.iconitou{
    width: 200px;
    height: 200px;
}
.textous{
    width: 200px;
    height: 100px;

    border-radius: 20px;
    gap:20px;

    background-color: honeydew;
    
    display: flex;
    align-items: center;
}

.destello{
    width: 30px;
    height: 30px;
}
.estrellas{
    display: flex;
}
.estrella{
    width: 30px;
    height: 30px;
}
.cajabotones{
    display: flex;
    gap:15px;
}

.botonrojo_izq{
    cursor: pointer;
    width: 10px;
    height: 10px;
    background-color: coral;    
}
.botonrojo_der{
    cursor: pointer;
    width: 10px;
    height: 10px;
    background-color: coral;
    
}

.marcas{
	gap: 29px;
	display: flex;
	flex-direction: column;
	padding: 20px;
}
.filan1{
	display: flex;
    justify-content: space-evenly;

}

.imgclientss{
	width: 45px;
}
.filan2{
	display: flex;
    justify-content: space-evenly;
}
.latestposts{
	background-color: white;
	display: flex;
	flex-direction: column;
	
}
.latestposts h1{
	padding: 50px;
    font-size: 30px;
}

.imagenespost{
	display: flex;
	gap: 20px;
	justify-content: center;
	padding: 12px;
}

.dentroimpost{
	border-radius: 30px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
	padding: 3px;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
}
.dentroimpost:hover{
	width: 110%;
	cursor: pointer;
}
	
.cajaroja{
	background-color: #FE4C62;
	width: 100px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	position: relative;
	right: 90px;
}
.cajaroja h1{
	font-size: 10px;
}
.titlepost{
	font-size: 20px;
}
.textpost{
	display: flex;
	gap:10px;
}
.textpost h2{
	font-size: 20px;
}

.imgp{
	width: 350px;
}

.getintouch{
	background-color: white;
    display: flex;
    flex-direction: column;
}
	
.gettexto{
	padding: 50px;
    font-size: 30px;

}
.getchange{
	position:relative;
	bottom: 10px;
	font-size: 20px;
}
.getchange h2{
	font-size: 10px;
}
.conjunto1{
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 20px;
	gap: 15px;
	
}

.gettextconj{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.mapget{
	width: 167px;
	position: relative;
	bottom: 0px;
}

.conjunto2{
	gap:20px;
	display: flex;
	flex-direction: column;
	
}
.doscajas{
	display: flex;
	gap: 40px;
}

.cajaget{
	background-color: beige;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	border-radius: 30px;
	padding: 20px;
}
	

.borderinput{
	font-size: 20px;
	border-style: none;
	padding: 15px;
	background-color: beige;
}

.botonget{
	background-color: #FE4C62;
	border-radius: 20px;
	padding: 15px;
	width: 200px;
}
.botonget{
	color: white;
	text-align: center;
}
.botonget:hover{
	cursor: pointer;
	background-color: pink;
}


@media(max-width:1400px){
.titleab{
	
	text-align: center;
	font-size: 80px;
		
}
.aboutme h1{
		
	text-align: center;
		
		
}
.aboutme{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
		
}
.tituloimagenbocadillo{
	display: flex;
	flex-direction: column;
		
	width: 80%;
	height: 100%;
}
.textoboton2{
	align-items: center;
}
	
.titulosvisitas{
	display:none;
}

.services{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	  
}

.services .cajaservices{
	width: 100%;
	height: 100%;
	display: flex;
}

.services .titulo{
	text-align: center;
	font-size: 80px;
}
.caja1{
	height: 100%;
	width: 100%
}
.caja1 img{
	width: 30px;
	height: 30px;
}

.caja1 h1{
	font-size: 15px;
}

.customjob{

	align-items: center;
}

.experience{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 128%;
}
.experience .tituloe{
	text-align: center;
	font-size: 80px;
}
.conjuntoexperience{
	display: flex;
	width: 100%;
	height: 100%;
	  
}

.recentworks h1{
	text-align: center;
	font-size: 80px;
}

.pestañastodo h1{
	text-align: center;
	font-size: 30px;		
}

.vol1{
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	width: 2000px;
	  
}

.overlay1{
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: 100%;
}
.croja{
	width: 250px;
	height: 50px;
	text-align: center;
}
.croja h1{
		
	font-size: 30px;
    padding: 10px;
}
.texto1 h1{
	font-size: 25px;

}
.pricingplans{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
		

}
	
.pricingplans .titlep{
	font-size: 80px;

}
.preciosconjunto{
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
}

.textclients{

	font-size: 60px;
    text-align: center;
}

.users{
	
	height: 100%;
}

.marcas{
	display: none;
}

.latestposts .textlasts{
 	font-size: 80px;
 	text-align: center;
}
.imagenespost{
	display: flex;
	flex-direction: column;
}


.cajaroja h1{
	font-size: 20px;
}
.dentroimpost .imgp{
	width: 500px;
	height: 500px;
}
.gettexto{
	font-size: 80px;
	text-align: center;

}
.conjunto1{
	display: flex;
	flex-direction: column;
}

}
	

	


	
	
	
	
	